
.container {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}
.details {
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  width: 40%;
  height: auto;
  left: 0;
  justify-content: center;
  font-family: "Readex Pro";
}

.start {
  flex: 1;
}

.header {
  flex: 3;
  font-weight: 200;
  font-size: x-large;
}

.inputBody {
  font-weight: 200;
  flex: 6;
}

.myFooter {
  flex: 1;
  font-weight: 200;
}

/* @media screen and (max-width: 768px) {
  .details {
    width: 40rem;
  }
} */
