.infoWeather {
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
    align-items:center;
    gap: 25px;
    flex-direction: row;
    flex:1;
}


@media screen and (max-width:768px) {
  .tohide { display: none; }
}


